/* Welcome Section */
.welcome-section {
    padding: 6rem;
    display: flex;
    flex-direction: row;
    flex-basis: 1fr 1fr;
}

.big-text {
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #434343;
    margin: 40px 0px;
}

span {
    font-weight: 700;
    color: #A02279;
}

.small-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
    width: 85%
}

input {
    padding: 15px 12px;
    font-size: 14px;
    line-height: 130%;
    color: #B8B8B8;
    width: 50%;
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
}

input:focus {
    border: 1px solid #A3A3A3;
    border-right: none;
}

.search-btn {
    height: 54px;
    width: 25%;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    border: #A02279 1px solid;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
}

.search-btn:hover {
    cursor: pointer;
}

/* NFT Section */
/* .nft-section {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
} 

.nft-section div {
    flex: 1;
}

.nft {
    height: 50px;
}

.nft:hover {
    cursor: pointer;
}

*/

.nft-section {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    padding: 10px 0;
}

/* Community Section */
.community_section {
    padding-bottom: 3.5rem;
    margin-top: 1.5rem;
}

.community {
    /* max-width: 1240px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 0 auto;
}

.community span {
    font-weight: 400;
    font-size: 12px;
    color: #434343;
}

.community b {
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    float: right;
    margin-top: 0.5rem;
}

.community .star {
    padding-top: 1rem;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.community .duration {
    font-weight: 400;
}

.community_section h2 {
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 3rem;
    line-height: 60px;
    color: #000000;
    text-align: center;
    margin: 2rem 0;
}

.community_wrapper {
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 1rem;
}


/* Learn More section */
.learn-more-section {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    display: flex;
    flex-direction: row;
    padding: 5rem;
}

.learn-more-section div {
    flex: 1;
}

.learn-more-section h1 {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-top: 24%;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-text-fill-color: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    color: transparent;
    background-clip: text;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc p {
    margin-top: 24%;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.photogroup {
    width: 704px;
    height: 574.85px;
}
@media(min-width:1024px){
    .community {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
        grid-gap: 1rem;
        margin: 0 auto;
        justify-content: space-around;
        padding: 1rem;
        margin: 0;
    }
    
    .community img {
        width: 100%
    }
    
    .community span,
    .community b {
        font-size: 12px;
    }
}

@media(max-width: 767px) {

    .small-text {
        margin: 0;
        width: 100%;
        font-size: 18px;
    }

    input,
    .search-btn {
        margin-top: 1rem;
        padding: 14px 12px;
        font-size: 14px;
    }

    .big-text {
        font-size: 44px;
        letter-spacing: -0.02em;
        margin: 20px 0px;
    }

    .community_section h2 {
        font-size: 2rem;
        line-height: 40px;
    }

    .community {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-gap: 1rem;
        margin: 0px auto;
        justify-content: space-around;
        padding: 1rem;
    }

    .place_image {
        width: 100%;
    }

    .welcome-section {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .learn-more-section {
        padding: 1rem;
    }

    .learn-more-section h1 {
        font-size: 40px;
        line-height: 50px;
        margin-top: 10%;
    }

    .img-container {
        display: none;
    }

    .desc p {
        margin-top: 10%;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
    }
}

@media(min-width:768px) {
    .max-870 {
        max-width: 870px;
        margin: 0 auto;
    }

    .md-d-none {
        display: none;
    }

    .learn-more-section h1 {
        margin-top: 0;
    }

    .learn-more-section p {
        margin-top: 0;
        font-size: 24px;
    }

    .header {
        margin: 1rem !important;
    }

    .community {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-gap: 1rem;
        margin: 0 auto;
        justify-content: space-around;
        padding: 1rem;
        margin: 0;
    }

    .community img {
        width: 100%
    }

    .community span,
    .community b {
        font-size: 16px;
    }

}
