.no-padding{
    padding: 0 !important;;
}
.footer {
    background: #1D1D1E;
    color: #ffffff;
    padding: 63px 0 10px 0;
}

h5 {
    margin-bottom: 23px !important;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    display: flex;
    align-items: center;
}

.social {
    height: 18px;
    width: 18px;
    margin-top: 4rem;
    margin-right: 32px;
}

.social:last-child {
    margin-right: 0px;
}

.copywrite {
    max-width: 1240px;
}

.copywrite p {
    background-color: inherit;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 2rem 4.8rem;
}