@import url(https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap);

body {
  margin: 0;
  font-family: 'Red Rose';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
